body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.bg_img {
  background: url("./background1.png") 
  center 
  center 
  cover 
  no-repeat;
  /* fixed; */
  
    /* display: flex;
    justify-content: center; */
  height: 100%;
  
}

h2 {
  color: #7061cd;

  font-size: 45px;
  font-family: Montserrat;
  font-weight: 200;
  display: flex;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
}